/* @import './layout/modal'; */ /*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css?family=Poppins");
::-webkit-scrollbar {
  display: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  /* font-family: 'Raleway'; */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  /*   font-family: 'Raleway';
   */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

*, *:after, *:before {
  box-sizing: inherit;
}

html {
  min-height: 100%;
  font-size: 12px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: currentcolor;
}

a:hover {
  text-decoration: underline;
}

ul, ol, dd {
  margin-left: 16px;
  margin-bottom: 18px;
}

h1 {
  font-weight: normal;
  margin-left: 16px;
  letter-spacing: 0.1em;
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, figure, table, th, td, caption, hr {
  margin: 0;
  padding: 0;
}

abbr[title], dfn[title] {
  cursor: help;
}

u, ins {
  text-decoration: none;
}

html, body {
  font-family: "Poppins", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}

.container {
  background: rgba(237, 237, 237, 0.3803921569);
  padding: 2em;
  min-height: 100vh;
  display: flex;
}

.container9 {
  padding: 2em;
  display: flex;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* .blend-image {
  filter: brightness(250%) grayscale(100%);
  mix-blend-mode: screen;
} */
.center-image, .card__background img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  object-fit: cover;
}

.slick-slide {
  padding: 2em 0.5em;
}

.card-slider {
  margin: auto;
  width: 100%;
}

.card {
  background: #fff;
  display: flex;
  padding: 2em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 350px;
  box-shadow: 0 30px 50px -25px rgba(0, 0, 0, 0.25);
}
.card > * {
  transition: opacity 350ms;
}
.card--opened > * {
  opacity: 0;
}

.link-card:hover {
  text-decoration: none;
}

.card__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: #2fd4dc;
  z-index: -1;
  text-align: left;
}
.card__background img {
  /* @extend .blend-image; */
}
.card__background::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, #fff 0, rgba(255, 255, 255, 0) 45%);
}

.card__category {
  text-transform: uppercase;
  color: #fff;
  background: #2fd4dc;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.2em 0.5em 0.25em;
}

.card__title {
  text-transform: uppercase;
  margin: 0.5em 0;
  color: #2e5f80;
  font-weight: 600;
}

.card__duration {
  color: #1f1f1f;
  font-weight: 600;
}

.modal-wrapper, .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-wrapper {
  display: flex;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 150ms ease;
}

.modal {
  overflow: hidden;
  position: relative;
  margin: auto;
  width: 90vw;
  height: 90vh;
  max-width: 500px;
  background: #fff;
  border-radius: 20px;
}

.modal__scroll-area {
  height: inherit;
  overflow: auto;
  border-radius: inherit;
  position: relative;
  z-index: 1;
}

.modal__close-button {
  background: transparent;
  border: none;
  margin-bottom: auto;
  color: #2e5f80;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2em;
  z-index: 2;
}

.modal__header {
  text-align: center;
  position: relative;
  display: flex;
  padding: 0.5em;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 300px;
  z-index: 1;
}

.modal__content {
  padding: 2em;
  color: #666;
  line-height: 1.5;
}

[data-modal-state=closed] .modal-wrapper {
  pointer-events: none;
}
[data-modal-state=closed] .overlay {
  pointer-events: none;
}
[data-modal-state=closed] .modal {
  opacity: 0;
}
[data-modal-state=closed] .overlay {
  opacity: 0;
}

[data-modal-state=opening] .modal__header, [data-modal-state=opening] .modal__content, [data-modal-state=opening] .modal__close-button, [data-modal-state=closing] .modal__header, [data-modal-state=closing] .modal__content, [data-modal-state=closing] .modal__close-button {
  opacity: 0;
}

[data-modal-state=opening] .overlay {
  transition: opacity 500ms ease;
}

[data-modal-state=closing] .overlay {
  opacity: 0;
  transition: opacity 500ms ease;
}

[data-modal-state=open] .modal__header, [data-modal-state=open] .modal__content {
  transition: opacity 450ms;
}

.card-price {
  font-size: 18px;
  font-weight: 600;
  color: #2e5f80;
}

/* body {
   height: 800px;
 } */
header {
  z-index: 999;
  position: absolute;
  width: 96.2%;
  text-align: center;
  font-size: 32px;
  line-height: 120px;
  height: 120px;
  background: #333;
  color: #f9f9f9;
  font-family: Arial;
  text-shadow: 1px -1px #000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (min-width: 1200px) {
  header {
    z-index: 999;
    position: absolute;
    width: 99%;
    text-align: center;
    font-size: 32px;
    line-height: 120px;
    height: 120px;
    background: #333;
    color: #f9f9f9;
    font-family: Arial;
    text-shadow: 1px -1px #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

header.sticky {
  position: fixed;
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  width: 99%;
  background: #111;
  text-align: left;
  padding-left: 20px;
}

.hero-h1 {
  position: absolute;
  z-index: 9999;
  top: 20%;
  font-weight: 600;
  left: 30%;
  color: #FFF;
}
@media screen and (min-width: 1200px) {
  .hero-h1 {
    position: absolute;
    z-index: 9999;
    top: 20%;
    font-weight: 600;
    left: 44%;
    color: #FFF;
  }
}

.bg-body {
  background-image: linear-gradient(100deg, rgba(63, 63, 63, 0.68) 100%, rgba(255, 255, 255, 0) 75%), url(../../img/bg.avif);
  background-size: cover;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .bg-body {
    background-image: linear-gradient(100deg, rgba(63, 63, 63, 0.68) 100%, rgba(255, 255, 255, 0) 75%), url(../../img/bg.avif);
    background-size: contain;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}

/* @import "compass/css3"; */
/* body, html {
  height: 100%;
  background: #fff;
} */
.container2 {
  width: 200px;
  height: 100%;
  margin: 0 auto 0;
  /*  -webkit-perspective: 1000;
   -webkit-backface-visibility: hidden; */
  background: transparent;
}

.pulse-button {
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  display: block;
  width: 100px;
  height: 100px;
  font-size: 1.3em;
  font-weight: light;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  letter-spacing: -1px;
  color: white;
  border: none;
  border-radius: 50%;
  background: #838589;
  cursor: pointer;
  /*  box-shadow: 0 0 0 0 rgba(#5a99d4, .5); */
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000, 5px 13px -7px #000, 5px 15px 5px rgba(0, 0, 0, 0);
  position: absolute;
  top: 90%;
  animation: myAnim 3s cubic-bezier(0.4, 0, 1, 1) 0s 6000 normal forwards;
}
@keyframes myAnim {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }
  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }
  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }
  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }
  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}

.pulse-button:hover {
  animation: none;
}

.footer {
  width: 100%;
  display: flex;
  margin-top: 1em;
}
@media screen and (min-width: 1200px) {
  .footer {
    width: 100%;
    justify-content: space-around;
    display: flex;
  }
}
.footer a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.footer a:hover {
  transform: scale(1.1);
  color: #bc0035;
}

.footer__ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: initial;
}

.footer__marg-r {
  margin-right: 10px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
}
@media screen and (min-width: 1200px) {
  .footer__marg-r {
    margin-right: 10px;
    font-weight: 600;
    font-size: 20px;
  }
}

.reserved {
  display: flex;
  justify-content: center;
  background: #fff;
  height: 26px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

* {
  /* margin:0px;
  padding:0px; */
  box-sizing: border-box;
}

:root {
  --color-text: #616161;
  --color-text-btn: #ffffff;
  --card1-gradient-color1: #f12711;
  --card1-gradient-color2: #f5af19;
  --card2-gradient-color1: #7F00FF;
  --card2-gradient-color2: #E100FF;
  --card3-gradient-color1: #3f2b96;
  --card3-gradient-color2: #a8c0ff;
  --card4-gradient-color1: #11998e;
  --card4-gradient-color2: #38ef7d;
}

.card-wrap2 {
  width: 320px;
  background: #fff;
  border-radius: 20px;
  border: 5px solid #fff;
  overflow: hidden;
  color: var(--color-text);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.card-wrap2:hover {
  transform: scale(1.1);
  text-decoration: none;
}

.link-cards:hover {
  text-decoration: none;
}

.card-header2 {
  height: 200px;
  width: 100%;
  background: red;
  border-radius: 100% 0% 100% 0%/0% 50% 50% 100%;
  display: grid;
  place-items: center;
}

.card-header2 i {
  color: #fff;
  font-size: 72px;
}

.card-content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.card-title2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 70px;
}

.card-text2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 700;
}

.card-btn2 {
  border: none;
  border-radius: 100px;
  padding: 5px 30px;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.card-header2.three {
  background-image: linear-gradient(to bottom left, var(--card3-gradient-color1), var(--card3-gradient-color2)), url("../../img/1.jpg");
}

.card-btn2.three {
  background: linear-gradient(to left, var(--card3-gradient-color1), var(--card3-gradient-color2));
}

.flex-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  position: absolute;
  top: 20%;
}
@media screen and (min-width: 1200px) {
  .flex-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 1000px;
    position: absolute;
    top: 20%;
  }
}

.card-header2.three {
  background-image: linear-gradient(to bottom left, #a3a5ac, #84475e), url(../../img/1.jpg);
}

.card-btn2.three {
  background: linear-gradient(to left, #88669f, #333333);
}

.card-btn2.three:hover {
  cursor: pointer;
}

.card-header2 {
  height: 229px;
  width: 100%;
  background: red;
  border-radius: 100% 0% 100% 0%/0% 50% 50% 100%;
  display: grid;
  place-items: center;
}

.img-cards {
  height: 315px;
  border-radius: 80%;
  /* overflow: hidden; */
  padding: 20px;
}

.card-content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.card-wrap2 {
  height: 450px;
  width: 320px;
  background: #fff;
  border-radius: 20px;
  border: 5px solid #fff;
  overflow: hidden;
  margin-bottom: 1rem;
  color: var(--color-text);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

.b-a, .bar:after, .bar:before, .bar {
  transition: all 0.25s;
  content: "";
  position: absolute;
  left: 0;
  height: 6px;
  width: 30px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.95);
}

.bar {
  position: fixed;
  left: 12px;
  top: 24px;
}
.bar:before {
  top: -8px;
}
.bar:after {
  top: 8px;
}

.b-a-expanded, .menu-expanded .bar:after, .menu-expanded .bar:before {
  transition: all 0.25s;
  top: 0px;
}

.menu-expanded {
  transition: all 0.25s;
  text-align: center;
  line-height: 200px;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}
.menu-expanded .bar {
  background-color: transparent;
  transition: all 0.25s;
}
.menu-expanded .bar:before {
  transform: rotate(45deg);
}
.menu-expanded .bar:after {
  transform: rotate(-45deg);
}

.menu-collapsed {
  transition: all 0.25s;
  position: fixed;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
}

.menu-collapsed ul {
  transition: all 0s;
  position: fixed;
  left: -9000px;
}

.about-h1 {
  font-size: 3em;
  font-weight: 700;
  color: white !important;
  letter-spacing: inherit;
  text-align: left;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #c1bdba;
}

a {
  text-decoration: none;
  transition: 0.5s ease;
}

.form {
  background: rgba(51, 51, 51, 0.89);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
  letter-spacing: inherit;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #8dc872;
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #626366;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: inherit;
  background: #626366;
  color: #ffffff;
  /* transition:all.5s ease; */
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

* {
  box-sizing: border-box;
}

@keyframes small {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 2rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes big {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -3rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
.product {
  position: relative;
  display: flex;
  width: 100%;
  height: 90%;
  z-index: 2;
  padding: 2rem 2rem;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .product {
    position: absolute;
    display: flex;
    width: 100%;
    height: 90%;
    z-index: 2;
    padding: 2rem 2rem;
    flex-direction: row;
  }
}
.product-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.product-photo img:first-child {
  width: 34%;
  height: auto;
  margin-top: 30%;
}
@media screen and (min-width: 1200px) {
  .product-photo img:first-child {
    width: 34%;
    height: auto;
    margin-top: 0px;
  }
}
.product-photo img:last-child {
  width: 70%;
  height: atuo;
}
@media screen and (min-width: 1200px) {
  .product-photo img:last-child {
    width: 70%;
    height: atuo;
    margin-left: -13rem;
  }
}
.product-detail {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0 5%;
}
@media screen and (min-width: 1200px) {
  .product-detail {
    width: 48%;
    margin-left: -9rem;
  }
}
.product__title {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #333333;
}
.product__price {
  letter-spacing: 2px;
  margin-bottom: 2rem;
  font-size: x-large;
}
.product__subtitle {
  font-weight: 300;
  font-size: 0.75rem;
  color: #B9B8B6;
  margin-bottom: 2rem;
  padding: 0 4rem;
}
.product__color form {
  display: flex;
}
.product__color form fieldset {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}
.product__color form fieldset label {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 0;
  line-height: 1.6rem;
}
.product__color form fieldset label i {
  opacity: 0;
  transition: 0.32s;
}
.product__color form fieldset input {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.product__color form fieldset input:checked + label i {
  opacity: 1;
}
.product__color form fieldset:first-child {
  margin-right: 1rem;
}
.product__color form fieldset:first-child label {
  background: #B9B8B6;
}
.product__color form fieldset:first-child label i {
  color: #513F35;
}
.product__color form fieldset:last-child label {
  background: #513F35;
}
.product__color form fieldset:last-child label i {
  color: #B9B8B6;
}
.product__button {
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background: #F1EDE4;
  display: block;
  width: 8rem;
  height: 2rem;
  font-size: 0.75rem;
  color: #513F35;
  transition: 0.32s;
}
.product__button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 2rem;
  transition: 0.32s;
}
.product__button span:last-child {
  top: -4rem;
  transition-delay: 0.32s;
  color: #fff;
}
.product__button--success {
  background: #00ff7f;
}
.product__button--success span:last-child {
  top: 0;
}
.product__button--success span:first-child {
  top: -4rem;
}

.logo-abs {
  position: absolute;
  top: -152%;
  left: 4%;
}

.itms-color {
  color: #000;
}

@media screen and (min-width: 1200px) {
  .padding-9 {
    padding: 0px 60px;
  }
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  height: 100%;
  width: 100%;
  transition-property: opacity, visibility;
  background-color: rgba(0, 0, 0, 0.62);
  opacity: 1;
  visibility: visible;
}

.modal__backdrop.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.modal__backdrop.is-hidden > .modal {
  transform: translate(-50%, -50%) scale(2.9);
  opacity: 0;
}

.modal__close {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #1e0013;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  margin-top: 17px;
  margin-bottom: 17px;
}

.is-hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) scale(1);
  width: 90%;
  height: auto;
  padding: 15px 15px 15px 15px;
  background-color: #eeeeee;
  opacity: 1;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: opacity, transform;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__hero-text {
  color: #000;
  font-weight: 600;
}/*# sourceMappingURL=main.css.map */