.footer {
	/* position: absolute; */
	/* right: 10px; */
	/* bottom: 10px; */
    width: 100%;
	/* font-family: 'Montserrat', sans-serif; */
    justify-content: space-around;
	/* padding: 40px; */
	display: flex;
	 a {
		margin: 0 10px;
		color: #fff;
		font-size: 1.8rem;
		backface-visibility: hidden;
		transition: all 150ms ease;
		&:hover {
			transform: scale(1.1);
		}
	}
}

.footer__ul {
    display: flex; 
    list-style: none; 
    justify-content: space-between;
	width: initial;
}

.footer__marg-r {
    margin-right: 10px;
    font-weight: 600;
    font-size: 20px;
}


.reserved { 
	display: flex;
    justify-content: center;
    background: #fff;
    height: 26px;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
	color: #000;
}