 /* body {
    height: 800px;
  } */
  
  header {
    z-index: 999;
    position: absolute;
    width: 96.2%;
    text-align: center;
    font-size: 32px;
    line-height: 120px;
    height: 120px;
    background: #333;
    color: #f9f9f9;
    font-family:Arial;
    text-shadow:1px -1px #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    @media screen and (min-width: 1200px) {
      z-index: 999;
    position: absolute;
    width: 99%;
    text-align: center;
    font-size: 32px;
    line-height: 120px;
    height: 120px;
    background: #333;
    color: #f9f9f9;
    font-family:Arial;
    text-shadow:1px -1px #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    }
  }
  
  header.sticky {
    position: fixed;
    font-size: 24px;
    line-height: 48px;
    height: 48px; 
    width: 99%;
    background: #111;
    text-align: left;
    padding-left: 20px;
  }
          

  .hero-h1 {
    position: absolute;
    z-index: 9999;
    top: 20%;
    font-weight: 600;
    left: 30%;
    color: #FFF;
    @media screen and (min-width: 1200px) {
    position: absolute;
    z-index: 9999;
    top: 20%;
    font-weight: 600;
    left: 44%;
    color: #FFF;
  }
}

.bg-body {
  background-image: linear-gradient(100deg, rgb(63 63 63 / 68%) 100%, rgba(255, 255, 255, 0) 75%), url(../../img/bg.avif);
background-size: cover;
height: max-content;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap: 30px;
  @media screen and (min-width: 1200px) {
background-image: linear-gradient(100deg, rgb(63 63 63 / 68%) 100%, rgba(255, 255, 255, 0) 75%), url(../../img/bg.avif);
background-size: contain;
height: max-content;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap: 30px;
}
}